@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme only - all CSS variables */
:root {
  /* Layout */
  --default-gap: 0.5rem;
  --head-cell-height: 40px;
  --header-height: 43px;
  --header-height-sm: 36px;
  --sidebar-width: 300px;
  --panel-row-height: 40px;
  --radius: 0.375rem;

  /* Font sizes */
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.8rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1rem;
  --font-size-xl: 1.125rem;

  /* Font families */
  --font-sans: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Code', Menlo, Courier, monospace;

  /* Button/Input heights */
  --button-input-height: 36px;
  --button-input-height-xs: 26px;
  --button-input-height-xsm: 28px;
  --button-input-height-sm: 28px;
  --button-input-height-lg: 40px;
  --input-height: var(--button-input-height);

  /* Dark theme colors */
  --text-default: 210, 7%, 84.31%;
  --text-lighter: 210, 3%, 65%;
  --text-disabled: 200, 3%, 17%;
  --text-negative: 0, 0%, 9%;

  --border: 210deg, 2.99%, 26.27%;
  --border-hover: 10, 100%, 81%;
  --border-drag: 0, 0%, 40%;
  --border-violet: 240, 50%, 50%;

  --background: 0deg, 0%, 12.55%;
  --background-content: 210, 9%, 83.7%;
  --background-hover: 240, 10%, 3.9%;

  --background-grey: 0, 0%, 8.82%;
  --background-grey-content: 210, 7%, 66.08%;
  --background-grey-hover: 210, 10%, 80%;

  --background-grey2: 0, 0%, 13%;
  --background-grey2-content: 210, 7%, 84.31%;
  --background-grey2-border: 210, 3%, 28.63%;

  --grey3: 0deg, 0%, 14.12%;
  --grey3-content: 0, 0%, 100%;
  --grey-content: 0, 0%, 17%;

  --background-grey3-border: 200, 3%, 17%;

  --background-blue2: 220, 50%, 20%;
  --background-blue2-content: 220, 100%, 80%;

  --background-black: 0, 0%, 0%;
  --background-black-content: 0, 0%, 100%;
  --background-black-hover: 0, 0%, 10%;

  --background-violet: 240, 50%, 30%;
  --background-violet-content: 240, 100%, 90%;

  --background-success: 120, 50%, 20%;
  --background-success-content: 120, 100%, 80%;
  --background-success-border: 120, 50%, 30%;

  --background-destructive: 0, 50%, 20%;
  --background-destructive-content: 0, 100%, 80%;
  --background-destructive-border: 0, 50%, 30%;

  --background-warning: 45, 90%, 20%;
  --background-warning-content: 45, 100%, 80%;
  --background-warning-border: 45, 90%, 30%;

  --brand: 10, 100%, 68%;
  --brand-content: 0 0% 98%;
  --brand-hover: 10, 11%, 22%;
  --brand-hover-content: 10, 100%, 84%;

  --brand-light: 12, 6%, 17%;
  --brand-light-content: 10, 100%, 68%;
  --brand-light-hover: 10, 11%, 22%;
  --brand-light-border: 9, 15%, 25%;

  --brand-alt: 200, 100%, 50%;
  --brand-alt-content: 0, 0%, 100%;
  --brand-alt-hover: 200, 100%, 40%;

  --primary: 210 6% 73%;
  --primary-content: 0 0% 8%;
  --primary-hover: 210, 6%, 63%;
  --primary-light-content: 210, 100%, 80%;

  --secondary: var(--background);
  --secondary-content: var(--text-default);
  --secondary-active: var(--grey3);
  --secondary-hover: 10, 11%, 22%;

  --tertiary-content: var(--text-default);

  --destructive: 0 83% 68%;
  --destructive-content: 336, 55%, 28%;
  --destructive-diff: 0, 100%, 40%;
  --destructive-diff-content: 0, 100%, 90%;

  --positive: 120, 100%, 40%;
  --positive-content: 120, 100%, 90%;

  --success: 120, 60%, 50%;
  --success-content: 0, 0%, 100%;

  --warning: 45, 100%, 60%;
  --warning-content: 0, 0%, 0%;

  --muted: 210, 2%, 48%;
  --muted-content: 240 5% 64.9%;

  --accent: 240 3.7% 15.9%;
  --accent-content: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-content: 0 0% 98%;
  --card-background: 0, 0%, 10%;

  --popover: var(--background);
  --popover-content: var(--text-default);

  --list-item-background: 0, 0%, 15%;

  --panel-input-background: 0, 0%, 10%;
  --panel-input-background-content: var(--text-default);

  --input: 210, 3%, 17.25%;
  --ring: 240 4.9% 83.9%;
  --steel: 210, 8%, 30%;
  --slider-active: 240, 50%, 50%;
  --violet: 240, 100%, 70%;

  --on-transparent: 100, 100%, 100%;
  --content: var(--text-default);
  --button-border: var(--border);
  --element-focus: 240, 7%, 14%;

  --info: 200, 100%, 50%;

  --agent-color: 180, 50%, 50%;
  --agent-color-content: 0, 0%, 100%;

  --chip-standard: 200, 50%, 20%;
  --chip-standard-border: 200, 50%, 30%;
  --chip-standard-content: 200, 100%, 80%;

  --chip-premium: 280, 50%, 20%;
  --chip-premium-border: 280, 50%, 30%;
  --chip-premium-content: 280, 100%, 80%;

  --chip-usage-based: 120, 50%, 20%;
  --chip-usage-based-border: 120, 50%, 30%;
  --chip-usage-based-content: 120, 100%, 80%;

  --chip-destructive: 0, 50%, 20%;
  --chip-destructive-border: 0, 50%, 30%;
  --chip-destructive-content: 0, 100%, 80%;

  --chip-warning: 45, 90%, 20%;
  --chip-warning-border: 45, 90%, 30%;
  --chip-warning-content: 45, 100%, 80%;
}

/* Base styles */
html {
  background: hsl(var(--background));
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  container-type: inline-size;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.16) transparent;
}

* {
  scrollbar-width: thin;
  box-sizing: border-box;
  border-color: hsl(var(--border));
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.16);
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--content));
  }
}

/* Background pattern for agent header */
.agentheader-background {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='860' viewBox='0 0 1440 860' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14823_146864)'%3E%3Cpath d='M720.001 1003.14C1080.62 1003.14 1372.96 824.028 1372.96 603.083C1372.96 382.138 1080.62 203.026 720.001 203.026C359.384 203.026 67.046 382.138 67.046 603.083C67.046 824.028 359.384 1003.14 720.001 1003.14Z' stroke='%23E1E2E3' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M719.999 978.04C910.334 978.04 1064.63 883.505 1064.63 766.891C1064.63 650.276 910.334 555.741 719.999 555.741C529.665 555.741 375.368 650.276 375.368 766.891C375.368 883.505 529.665 978.04 719.999 978.04Z' stroke='%23E1E2E3' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M720 1020.95C1262.17 1020.95 1701.68 756.371 1701.68 430C1701.68 103.629 1262.17 -160.946 720 -160.946C177.834 -160.946 -261.678 103.629 -261.678 430C-261.678 756.371 177.834 1020.95 720 1020.95Z' stroke='%23E1E2E3' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M719.999 323.658C910.334 323.658 1064.63 223.814 1064.63 100.649C1064.63 -22.5157 910.334 -122.36 719.999 -122.36C529.665 -122.36 375.368 -22.5157 375.368 100.649C375.368 223.814 529.665 323.658 719.999 323.658Z' stroke='%23E1E2E3' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M720.001 706.676C1080.62 706.676 1372.96 517.507 1372.96 284.155C1372.96 50.8029 1080.62 -138.366 720.001 -138.366C359.384 -138.366 67.046 50.8029 67.046 284.155C67.046 517.507 359.384 706.676 720.001 706.676Z' stroke='%23E1E2E3' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M719.999 874.604C1180.69 874.604 1554.15 645.789 1554.15 363.531C1554.15 81.2725 1180.69 -147.543 719.999 -147.543C259.311 -147.543 -114.15 81.2725 -114.15 363.531C-114.15 645.789 259.311 874.604 719.999 874.604Z' stroke='%23E1E2E3' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14823_146864'%3E%3Crect width='1440' height='860' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
